.container {
    .login-window {
        display: flex;
        align-items: flex-start;
        width: 200px;
        background-color: green;
    }
    .room-Window{
        background-color: red;
        
    }
    .chat-window {
        background-color: blue;
    }
}
