body {
    margin: 0;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .input-container {
        display: flex;
        justify-content: space-between;

        .input-box {
            font-size: 12px;
            flex-grow: 1;
        }

        .btn {
            background-color: blue;
            border: none;
            border-radius: 2px;
            color: #fff;
            font-size: 12px;
            padding: 5px 10px;
            margin-left: 10px;
            outline: none;
        }
    }

    .login-window {
        flex-grow: 0;
        width: 100%;
        height: 24px;
        padding: 12px 0;
        background-color: #bbb;
        display: flex;
        justify-content: flex-end;

        > * {
            margin-right: 10px;
        }

        .input-box {
            flex-grow: 0;
        }

        .error-in-header, .logged-in-text {
            font-size: 18px;
            color: #333;
            line-height: 24px;
        }
    }

    .main-row {
        flex-grow: 1;
        display: flex;

        > * {
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            flex-grow: 1;
            padding: 10px;
        }

        .room-Window{
            background-color: #ddd;

        }
        .chat-window {
            background-color: #fff;
        }

        .user-list {
            background-color: #ddd;
            text-align: right;
        }

        .ul-list {
            list-style: none;
            padding: 10px;

            .list-item {
                padding: 2px 0;
                font-size: 18px;
                color: #333;
                line-height: 20px;
            }
        }
    }

}
