.container {
    width: 768px;
    margin: 0 auto;
}

.pizza-wrapper {
    box-shadow: 5px 5px 20px rgba(155, 155, 155, .5);
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.pizza-wrapper .pizza-name {
    margin-top: 10px;
    font-size: 24px;
    font-weight: bold;
}
